.startNode {
    background-color: green;
    animation: fade 0.2s ease-in;
}

.finishNode {
    background-color: red;
    animation: fade 0.2s ease-in;

}
.wall {
    background-color: grey;
    animation: fade 0.2s ease-in;
}

@keyframes fade {
    from { opacity: 0.5; };
    to { opacity: 1;}
}